:root {
    --inkuire-logo-size: 20px;
}

#inkuire-search {
    margin-top: 2px;
    cursor: pointer;
}

#inkuire-search::before {
    content: "";
    display:block;
    height: var(--inkuire-logo-size);
    width: var(--inkuire-logo-size);
    background-size: var(--inkuire-logo-size) var(--inkuire-logo-size);
    background-image: url(../images/inkuire-search.png);
    background-repeat: no-repeat;
}

#inkuire-searchbar.hidden {
    display: none;
}

#inkuire-searchbar {
    position: absolute;
    top: 50px;
    right: 40px;
    width: calc(100% - 360px);
    box-shadow: 0 2px 16px 0 rgba(0, 42, 76, 0.15);
    font-size: 13px;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, sans-serif;
}

#inkuire-input {
    width: 100%;
    min-height: 32px;
    border: none;
    border-bottom: 1px solid #bbb;
    padding: 10px;
}

#inkuire-input:focus {
    outline: none;
}

#inkuire-results {
    background: white;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow: auto;
}

.inkuire-result {
    line-height: 32px;
    padding-left: 10px;
    padding-right: 10px;
}

.inkuire-result:first-of-type {
    margin-top: 10px;
}

.inkuire-result:hover {
    background-color: #d4edff;
}

.inkuire-result a {
    color: #1f2326;
}

.inkuire-result .inkuire-location {
    color: gray;
}

#searchBar {
    display: inline-flex;
}